In [1]:
print("Hello Rajeev \nWhere are you")

Hello Rajeev
Where are you

In [2]:
name ="Rajeev"
Age =23
print(name)
print(type(name))

Rajeev
<class 'str'>

# user input

In [3]:
name =input("Enter name:")
Age =input("Enter Age:")
print(name)
print(Age)

Enter name:rajeev
Enter Age:33
rajeev
33

In [4]:
a=float(input("Enter first number "))
b=int(input("Enter second number "))
c=a+b
print(a+b)

Enter first number 33
Enter second number 22
55.0

In [5]:
fatherName=input("Enter name of father")
print(fatherName)

Enter name of fatheramresh
amresh

In [6]:
print(3+4)

7

In [7]:
num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))
print(num1+num2)

Enter first number: 33
Enter second number: 33
66

In [8]:
print(34/6)
print(34//6)

5.666666666666667
5

In [9]:
print(25%3)

1

In [10]:
print(4>7)

False

In [11]:
print(4==4)

True

In [12]:
print(4!=5)

True

In [13]:
marks=77
print(marks>=80 and  marks<90)

False

In [14]:
username ="Rajeev"
password=123
un=input("enter name: ")
ps=int(input("enter password: "))
if un==username and ps==password:
    print("login successfull")

enter name: rajeev
enter password: 123

In [15]:
print(3>5 or 4<6 or 6>8)

True

In [16]:
amount =1
chips=20
amount*=20
milk=25
amount+=25
oil=20
amount+=20
print(amount)

65

# membership operator

In [17]:
a="Rajeev"
print("j" in a)

True

In [18]:
name =["Rajeev","nitesh","ram"]
print("Rajeev" in name)

True

# identity operator

a=12
b=12
print(a is b)
print(a==b)

In [19]:
marks=int(input("enter marks"))
if (marks>90):
    print("give you mobile")
elif(marks>=80 and marks<=90):
    print("give you leptop")
else:
    print("not give")

enter marks69
not give

In [20]:
username="Rajeev"
password=123
un=input("enter username: ")
if un==username:
    ps=int(input("enter password"))
    if ps==password:
        print("login successfull: ")
    else:
        print("wrong password: ")
else:
    print("incorrect username: ")

enter username: rajeev
incorrect username:

In [21]:
marks=85
if marks>70:
    print("phone")
    if marks>90:
        print("bike")

phone

In [22]:
num=int(input("enter number: "))
if num>=0 and num<=9:
    print("1 digit number ")
elif num>=10 and num<=99:
    print("2 digit number ")

enter number: 34
2 digit number

In [23]:
num=int(input("enter number: ")) 
if num%6 ==0 and num%9==0:
    print("it is divisible ")
else:
    print("it is not divisible")

enter number: 33
it is not divisible

In [24]:
# Input from the user
number = int(input("Enter a number: "))

# Check if the number is divisible by both 6 and 9
if number % 6 == 0 and number % 9 == 0:
    print(f"{number} is divisible by both 6 and 9.")
else:
    print(f"{number} is not divisible by both 6 and 9.")

Enter a number: 33
33 is not divisible by both 6 and 9.

In [25]:
a=34
print(type(a))
a=float(a)
print(type(a))

<class 'int'>
<class 'float'>

In [26]:
x=34
print(type(x))
x=float(x)
print(type(x))
a=34
b=34.0
z=a+b
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

In [27]:
a="Rajeev"
length=0
for i in a:
    
    length+=1
print(length)

6

In [28]:
a=23
print(type(a))
a=float(a)
print(type(a))

<class 'int'>
<class 'float'>

In [29]:
z="Rajeev"
length=0
for i in z:
    length +=1
print(length)

6

# loops

In [30]:
# for loop 
n=5
for i in range(1,11):
    print(n,"x","=",i,n*i)

5 x = 1 5
5 x = 2 10
5 x = 3 15
5 x = 4 20
5 x = 5 25
5 x = 6 30
5 x = 7 35
5 x = 8 40
5 x = 9 45
5 x = 10 50

In [31]:
a="Rajeev rai"
count=0
for i in a:
    count +=1
print(count)

10

In [32]:
a="Rajeev rai"
space_count=0
for i in a:
    if i==" ":
        space_count +=1
    
print(space_count)
total_characters=count-space_count
print(total_characters)

1
9

In [33]:
for i in range (1,11,2):
    print(i)

1
3
5
7
9

In [34]:
count=0
for i in range(1,6):
    count +=i
print(count)

15

In [35]:
count=0
for i in range(1,10):
    count +=i
print(count)

45

In [36]:
for i in range(1,101):
    if i % 8 ==0 and i%12==0:
        print(i)

24
48
72
96

In [37]:
count=0
for i in range(1,6):
    count +=i
print(count)

15

In [38]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

# while loop

In [39]:
# a = 0
# while a<10:
#     print(a)
#     a +=4
num =12
a = 1
while a<=10:
    
    print(num*a)
    a +=1

12
24
36
48
60
72
84
96
108
120

In [40]:
repeat="yes"
while repeat=="yes":
    num1 = int(input("enter the number: "))
    num2 = int(input("enter the number: "))
    print(num1+num2)
    print(num1*num2)
    repeat =input("do you want to add more number? (yes/no):")

enter the number: 23
enter the number: 23343
23366
536889
do you want to add more number? (yes/no):no

In [41]:
a=0
sum=0
while a<=50:
    sum+=a
    a+=2
print(sum)

650

In [42]:
while True:
    num1 =int(input("Enter the number: "))
    num2 =int(input("Enter the number: "))
    print(num1 +num2)
    repeat=input("do you want to add more: ")
    if repeat in ["no", "No","NO"]:
    
     break

Enter the number: 22
Enter the number: 22
44
do you want to add more: no

In [43]:
num1 =int(input("Enter the number: "))
num2 =int(input("Enter the number: "))
if num1 %num2==0:
    print("divisible ")
else:
    print("not divisible ")

Enter the number: 90
Enter the number: 39
not divisible

In [44]:
a = "Rajeev rai"
count =0
for i in a:
    if i in "aeiou":
        count +=1
print(count)

5

# Nested loop

In [45]:
for j in range(1,4):
    
    for i in range(1,11):
        print(i,end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [46]:
# mini project
while True:
    
    name=input("customer's name: ")
    total =0
    while True:
        quantity = float(input("enter quantity: "))
        amount = float(input("enter price: "))
        total +=quantity*amount
        items=input("do you want to add more items? (yes/no): ")
        if items =="no":
            break
    print("-"*35)
    print("customer's name: ",name)
    print("payable Amount: ",total)
    repeat =input("next person? ")
    if repeat =="no":
        break

customer's name: atul
enter quantity: 33
enter price: 233
do you want to add more items? (yes/no): no
-----------------------------------
customer's name:  atul
payable Amount:  7689.0
next person? no

In [47]:
total=100
seats=int(input("enter seats: "))
amount=(seats*100)
print(amount)
total -=seats
print(total)

enter seats: 33
3300
67

# indexing string

In [48]:
a ="Rajeev Rai"
print(a[-1])

i

# Slicing

In [49]:
print(a[0:6])

Rajeev

In [50]:
a= "Rajeev rai is going to market. "
print(a[0:20])
print(a[::1])
print(a[::2])
print(a[::-1])

Rajeev rai is going
Rajeev rai is going to market.
Rje a sgigt akt
 .tekram ot gniog si iar veejaR

In [51]:
a="12345678"
print(a[::-1])

87654321

# upper case, lower case and Swap case

In [52]:
a="Rajeev rai is a good student: "
print(a.upper())
print(a.lower())

RAJEEV RAI IS A GOOD STUDENT:
rajeev rai is a good student:

In [53]:
print(a.swapcase())

rAJEEV RAI IS A GOOD STUDENT:

In [54]:
print(a.title())

Rajeev Rai Is A Good Student:

In [55]:
print(a.index("r"))

7

In [56]:
a="Rajeev"
b="Atul"
c="123456"
d=" "
print(a.isalpha())
print(b.isalpha())
print(c.isalnum())

True
True
True

In [57]:
a="tip"
print(a.replace('i','o'))

top

In [58]:
a=("Rajwev")
print(a.replace('w','e'))

Rajeev

In [59]:
a="900,00"
print(a.replace(',',''))

90000

In [60]:
a=" Rajeev "
print(a)
print(a.strip()) # strip=space ko remove karne ke liye use kiya jata hai

 Rajeev
Rajeev

In [61]:
a="Atul rai- Rajeev"
print(a.strip(""))

Atul rai- Rajeev

In [62]:
a="Rajeev rai is a good student: "
print(len(a))

30

In [63]:
l=0
for i in a:
    l+=1
print(l)

30

In [64]:
c=0
for i in a:
    if i==" ":
        c+=1
print(c)

6

In [65]:
# write a program to check if the string given by the user has both 1st and last character same
word=input("enter a word: ")
if word[0]==word[-1]:
    print("yes")
else:    
    print("no")

enter a word: rsa
no

In [66]:
a=["top","pop"]
a[0],a[-1]=a[-1],a[0]
print(a)

['pop', 'top']

In [67]:
a="top"
print(a.replace("o"," "))

t p

In [68]:
A="Raj"
print("i am not sure",A)
print(f"i am not sure {A}")

i am not sure Raj
i am not sure Raj

# List

In [69]:
a=["farmers","kisan"]
print(a)

['farmers', 'kisan']

In [70]:
print(a[0])

farmers

In [71]:
print(a[::-1])

['kisan', 'farmers']

# Iteration in list

for i in a:
    print(i)

In [72]:
nums=[3,4,56,46,3,2,5,7,75,23]
for i in nums:
    if i%2!=0:
        print(i)

3
3
5
7
75
23

In [73]:
sum=0
for i in nums:
    sum+=i
print(sum)

224

In [74]:
c=0
for i in nums:
    c+=1
print(c)

10

In [75]:
nums.append(45)
print(nums)

[3, 4, 56, 46, 3, 2, 5, 7, 75, 23, 45]

In [78]:
nums.remove(5)
print(nums)

[3, 4, 56, 46, 3, 2, 7, 75, 23, 45]

In [79]:
nums.insert(0,"Rajeev")
print(nums)

['Rajeev', 3, 4, 56, 46, 3, 2, 7, 75, 23, 45]

In [80]:
nums.pop(0)
print(nums)

[3, 4, 56, 46, 3, 2, 7, 75, 23, 45]

In [81]:
n=[4, 56, 46, 3, 2, 5, 7, 75, 23, 90]
print(n[::3])

[4, 3, 7, 90]

In [82]:
n.pop(0) #pop index par work karta hai and remove value ke base par use karte hai
print(n)

[56, 46, 3, 2, 5, 7, 75, 23, 90]

In [83]:
grocery=[]
print("""
press 1 to add the item
press 2 to remove the item
press 3 to display the item""")
while True:
    
    choice=int(input("enter your choice: "))
    if choice ==1:
        item=input("enter item: ").capitalize()
        grocery.append(item)
    elif choice==2:
        item=input("enter item: ").capitalize()
        grocery.remove(item)
    else:
        if len(grocery)==0:
            print("no items available: ")
        else:
            print(grocery)
    repeat=input("repeat again? (yes/no)")
    if repeat=='no':
            
        break

press 1 to add the item
press 2 to remove the item
press 3 to display the item
enter your choice: 1
enter item: rice
repeat again? (yes/no)no

In [84]:
n=[4,5,6,3,5,7,4,7,8,9]
print(len(n))
print(n.count(4))

10
2

In [85]:
print(min(n))

3

In [86]:
sum=0
for i in n:
    sum+=i
print(sum)

58

In [87]:
n=[4,5,6,3,5,7,4,7,8,9]
n.sort()
print(n)

[3, 4, 4, 5, 5, 6, 7, 7, 8, 9]

In [88]:
print(n[0])
print(n[-1])

3
9

In [89]:
word=["Rajeev","Ravipurbiya","civic","rampura"]
l=[]
for i in word:
    if len(i)>=5 and i[0]==i[-1]:
        l.append(i)
print(l)

['civic']

In [90]:
a=["Raj","Ravi","abhi"]
a.append("Rajeev")
print(a)

['Raj', 'Ravi', 'abhi', 'Rajeev']

In [91]:
a=["Raj","Ravi","abhi"]
a.insert(1,"Rajeev")
print(a)

['Raj', 'Rajeev', 'Ravi', 'abhi']

In [92]:
a= [1,2,3,4,5]
count=0
for i in a:
    
        count+=i
print(count)

15

In [94]:
# a="Hello Rajeev how are you"
a=[1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [96]:
a="Hello Rajeev how are you"
print(a.upper())
print(a.title())
print(a.lower())

HELLO RAJEEV HOW ARE YOU
Hello Rajeev How Are You
hello rajeev how are you

In [3]:
a = 'Rajeev Rai'
print(a[0:3].upper() + a[3:].lower())

RAJeev rai

In [15]:
a= [1,2,3,4,5,6]
t=a[0]
a[0]=a[-1]
a[-1]=t
print(a)

[6, 2, 3, 4, 5, 1]

In [14]:
a= [1,2,3,4,5,6]
a[0],a[-1]=a[-1],a[0]
print(a)

[6, 2, 3, 4, 5, 1]

# Dictionary

In [47]:
student = {"name":"Rajeev","name1":"Atul","class":"mca","Age":"22"} # values duplicate ho sakti hai par keys duplicate nahi honi chahiye 

student["Education"]="b.tech"
# print(student)
# print(student.keys())
# print(student.values())
del student["name1"]
print(student)

{'name': 'Rajeev', 'class': 'mca', 'Age': '22', 'Education': 'b.tech'}

In [30]:
for i,j in student.items():
    print(i,'=',j)

name = Rajeev
name1 = Atul
class = mca
Age = 22
Education = b.tech

In [53]:
db = {}
print("""
press 1 to insert
press 2 to view keys 
press 3 to view values
press 4 to view dict
press 5 to del""")
while True:
    choice =int(input("enter your choice 1-4: "))
    if choice ==1:
        player =input("enter players name :")
        team=input("enter team name: ")

        db[player]=team
    elif choice ==2:
        print(db.keys())
    elif choice ==3:
        print(db.values())
    elif choice ==4:
        for i,j in db.items():
            print(i,":",j)
    elif choice==5:
        player = input("enter players name:  ")
        del db[player]
    else:
        print("invalid input")
    repeat=input("repeat again? (yes/no)")
    if repeat=='no':
            
        break

press 1 to insert
press 2 to view keys
press 3 to view values
press 4 to view dict
press 5 to del
enter your choice 1-4: 1
enter players name :Rajeev
enter team name: 1
repeat again? (yes/no)Rajeev
enter your choice 1-4: 2
dict_keys(['Rajeev'])
repeat again? (yes/no)no

In [57]:
company={"Emp_id":"E001","name":"Rajeev","gender":"male","salary":25000}
print(company["name"],company["gender"])

Rajeev male

In [72]:
company={"E001":{"name":"Rajeev","gender":"male"},
         "E002":{"name":"Raj","gender":"male"},
         "E003":{"name":"Atul","gender":"male"}}

print(company["E002"]["name"])

Raj

In [73]:
Company={"name":["Rajeev","Raj","Atul"],
        "gender":["male","male","male"],
        "Age":["32","22","33"]}
import pandas as pd
df = pd.DataFrame(Company)
df

     name gender Age
0  Rajeev   male  32
1     Raj   male  22
2    Atul   male  33

# Tuples

# Tuples are the collection of order and un-mutable data.for tuples no brackets are mandatry.
# By choice one can use parenthesis.

In [74]:
fruits="apple","banana","mango"
print(fruits)
print(type(fruits))

('apple', 'banana', 'mango')
<class 'tuple'>

In [79]:
a=["mango"]
print(type(a))
b=("banana")

print(type(b))
c=(435,)
print(type(c))

<class 'list'>
<class 'tuple'>
<class 'tuple'>

In [3]:
a=("banana",)
print(type(a))
a=str(a)
print(type(a)) # python khud convert karta hai to use 
# ham implicit casting hota hai

<class 'tuple'>
<class 'str'>

In [4]:
a=23
a=float(a)
print(a)
b="23"
b=float(b)
print(b) # jab ham convert karte hai use xplecit kahte hai

23.0
23.0

In [9]:
# write a program in tuple
a=20,30,40
print(a)
print(type(a))
a=list(a)
print(a)
print(type(a))

(20, 30, 40)
<class 'tuple'>
[20, 30, 40]
<class 'list'>

In [13]:
a.append(60)
print(a)

[20, 30, 40, 50, 50, 60]

# Sets

# Sets are unordered collection of data.Every element inside the set is unique and mutable.Sets are written inside the curly brackets.

In [22]:
# unique means
a=[2,3,4,3,5,4,5,3,4]
print(a)
a={2,3,4,3,5,4,5,3,4}
print(a)
print(type(a))

[2, 3, 4, 3, 5, 4, 5, 3, 4]
{2, 3, 4, 5}
<class 'set'>

In [1]:
a={2,3,4,5,6}
b={3,6,7,8,9,10}
print(a.symmetric_difference(b))

{2, 4, 5, 7, 8, 9, 10}

In [5]:
a={2,3,4,5,6}
b={3,6,7,8,9,10}
print(a.intersection(b))
print(a.union(b))
a.intersection_update(b)
print(a)

{3, 6}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 6}

In [9]:
x={20,30,40}
y={40,50,60}
print(x.difference(y))
print(x.intersection(y))
x.intersection_update(y)
print(x)

{20, 30}
{40}
{40}

In [13]:
a={2,3}
b={2,3,6,7,8,9,10}
print(a.issubset(b))
print(a.issuperset(b))

True
False

In [17]:
# write a program to remove the duplicate values from the given list
a = [2,3,4,5,6,7,2,4,3,5,6,7]
a=set(a)
print(a)
a= list(a)
print(a)

{2, 3, 4, 5, 6, 7}
[2, 3, 4, 5, 6, 7]

In [21]:
# write a program to find the common elements from the given 3 list
a=[20,30,40]
b=[20,40,50,60]
c=[20,30,40,50,60]
a=set(a)
b=set(b)
c=set(c)
z=a&b
print(z&c)
# code optimivation 
print(set(a) & set(b) &set(c))

{40, 20}
{40, 20}

In [22]:
# Functions 

def greeting():
    print("hello")
greeting()

hello

In [26]:
def intro(name):
    print("my name is",name)
intro("Rajeev")

my name is Rajeev

In [27]:
def add(a,b,c):
    print(a+b+c)
add(2,3,4)

9

In [28]:
add(4,5,6)

15

In [32]:
# Lamda function , anonymous function

x= lambda a : a*3
print(x(5))

15

In [35]:
z =lambda a,b,c : a+b-c
print(z(4,5,3))

6

In [41]:
# modules -.py file hai 
import random
coin=["heads","tails"]
toss=random.choice(coin)
print(toss)

heads

In [49]:
import random
dice=[1,2,3,4,5,6]
roll=random.choice(dice)
print(roll)

1

In [54]:
# Game 
comp =random.randint(1,100)
chance =7
while chance >=0:
    guess = int(input('guess a number: '))
    if guess > comp:
        print("you guess is gretter than computer's value")
        chance -=1
    elif guess < comp:
        print("your guess is smaller than computer's value")
        chance -=1
    else:
        print("correct answer!")
        break
else:
    print("All your chance exhaused")
    print("the correct number is",comp)

guess a number: 40
you guess is gretter than computer's value
guess a number: 30
your guess is smaller than computer's value
guess a number: 35
you guess is gretter than computer's value
guess a number: 33
your guess is smaller than computer's value
guess a number: 34
correct answer!